---
import type { GetStaticPaths } from 'astro';
import { getCollection, render } from 'astro:content';
import {SHOW_BUY_BUTTON} from "astro:env/server"
import Layout from '../../layouts/Layout.astro';

// Define getStaticPaths para generar rutas estáticas basadas en los slugs de tus libros
export const getStaticPaths: GetStaticPaths = async () => {
  const books = await getCollection('books');
  
  return books.map((book) => ({
     params: {id: book.slug},
     props: {book}
  }));
};

const { book } = Astro.props
const { data } = book
const {title, author, img, readtime, description, buy } = data

const { Content} = await render(book)
---

<Layout title={`${title} — Great Reads`}>
  <div class="divbooks">
    <aside>
      <a href='/' class="hover:underline opacity-70">← Volver atrás</a>
      <img class="imagerounded" src={`/${img}`} alt={title} />
      {
        SHOW_BUY_BUTTON && (
        <a class="botoncomprar" href={buy.spain} title="comprar libro" target="_blank" rel="noopener noreferrer"> Comprar en Amazon España </a>
        )
      }
    </aside>
    <main class="main">
      <h1>{title}</h1>
      <Content />
    </main>
     
  </div>
    
</Layout>
