---
import type { GetStaticPaths } from 'astro';
import { getCollection, render, type CollectionEntry } from 'astro:content';
import { SHOW_BUY_BUTTON } from 'astro:env/server';
import Layout from '../../layouts/Layout.astro';
import BookScore from '../../components/bookScore.astro'; // <- import explícito si lo necesitas

type Props = { book: CollectionEntry<'books'> };

export const getStaticPaths = (async () => {
  const books = await getCollection('books');
  return books.map((book) => ({
    params: { id: book.slug },
    props: { book },
  }));
}) satisfies GetStaticPaths<Props>;

const { book } = Astro.props;
const { data } = book;
const { title, author, img, readtime, description, buy } = data;

const { Content } = await render(book);
---

<Layout title={`${title} — Great Reads`}>
  <div class="divbooks">
    <aside>
      <a href='/' class="hover:underline opacity-70">← Volver atrás</a>
      <img class="imagerounded" src={`/${img}`} alt={title} />
      <bookScore client:idle slug={book.slug} />
      {SHOW_BUY_BUTTON && (
        <a class="botoncomprar" href={buy.spain} title="comprar libro" target="_blank" rel="noopener noreferrer">
          Comprar en Amazon España
        </a>
      )}
    </aside>
    <main class="main">
      <h1>{title}</h1>
      <Content />
    </main>
  </div>
</Layout>

